{% extends 'layout_in.html' %}

{% block content %}

<div class="container-fluid mt--7">
<div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row">
                <div class="col-12">
                    <h3 class="mb-2" data-toc-skip>关于作者</h3>
                    <small class="text-muted">一只既是程序猿又是设计狮的西语狗</small>
                </div>
              </div>
              <hr class="mt-3 mb-0">
            </div> <!-- End of Card Header -->
            <div class="card-body pt-2">
                <p>写完副标题发现其实也没什么好说的。</p>
                <p>愿意支持一下的话就去Github上给这个项目点个赞吧。</p>
                <p>嗯，大概就这样咯。</p>
            </div> <!-- End of Card Body -->

          </div>
        </div>
      </div>

{% endblock content%}