html
  head
    title= title
  body
    each chapter in chapters
        li= chapter.title
        each subchapter in subchapters
            if subchapter.chapterNumber == chapter.chapterNumber
                li(style="padding-left:20px")= subchapter.title
                    each scsubchapter in scsubchapters
                        if scsubchapter.chapterNumber == chapter.chapterNumber && scsubchapter.subChapterNumber == subchapter.subChapterNumber
                            li(style="padding-left:40px")= scsubchapter.title